* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    text-decoration: none;

}

:root {
    --logo-color: rgb(9, 91, 168);
    --nav-background: rgba(238, 234, 234, 0.322);
    --navbar-background: white;
    --link-text-color: grey;
    --link-text-size: 12px;
    --main-content-bg-color: rgba(228, 226, 226, 0.315);
    --border-color: rgba(68, 67, 67, 0.37);
    --main-bg-color: rgba(238, 216, 143, 0.39);

}

.wrapper {
    background-color: #F4F2EE;
    height: 250vh;
}

.header-content {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--navbar-background);
    box-shadow: 0 3px 10px rgb(219, 219, 219);

}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;



}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    flex-grow: 1;

}

.input-area {
    display: flex;
    justify-content: space-between;
    align-items: center;

}



.inputarea {
    margin: 0 40px 0 3px;
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
    background-color: #F4F2EE;
}

.input-area input {
    background-color: var(--nav-background);
    border: none;
    height: 35px;
    width: 350px;

}


.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.profilepic {
    width: 28px;
    border: none;
    border-radius: 50px;
}


.nav-items a {
    font-size: var(--link-text-size);
    color: var(--link-text-color);

}


.main-content {
    display: grid;
    background-color: var(--main-content-bg-color);
    height: 100vh;
    justify-content: center;
    grid-template-columns: 1fr 1.5fr 1fr;
    gap: 10px;
    margin-top: 20px;
    align-content: baseline;
    padding: 0 400px;



}

.section1 {

    border: none;
    border-radius: 10px;
    overflow: hidden;

}

.textarea {
    margin-top: 10px;
    padding: 10px;
}

.section1-main {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.connections,
.Try,
.saved-items {
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: solid 1px var(--border-color);
    border-radius: 10px;
    background-color: white;
}

.saved-items-list {
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-decoration: none;

}






.profile {
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    border: solid 1px var(--border-color);
    border-radius: 10px;
    background-color: white;
    overflow: hidden;

}

.banner {
    display: flex;
    width: 100%;
    height: 100px;
    background-image: url("https://wallpapers.com/images/featured/technology-linkedin-background-dce01jsbpnn0z2ej.webp");
    background-position: center;
    object-fit: cover;

}

.profilepic-left {
    width: 10px;
    position: relative;
    top: -40px;
    left: 20px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 5;
    border: solid 2px white;
    box-shadow: 4px 2px 20px rgba(170, 170, 170, 0.692);

}


.section1-content {
    display: flex;
    bottom: 50px;
    position: relative;
    bottom: 40px;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.section1-content h2 {
    font-size: 20px;
}

.section1-content h3 {
    font-size: 15px;
}

.section1-content p {
    font-weight: bold;

}





/* Section 2 */

.section2 {
    width: 100%;

}

.post {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;


}

.postarea {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
    padding: 10px;
    align-items: center;


}

.postarea input {
    width: 500px;
    height: 40px;
    border: solid 1px var(--border-color);
    border-radius: 50px;
}

.me {
    width: 50px;
    border: none;
    border-radius: 50px;
}


.attactment-area {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 10px;
    align-items: center;

}

.post {
    border: solid 1px var(--border-color);
    border-radius: 10px;
    border: none;
    border-radius: 10px;
}

.link-items {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: larger;
    text-decoration: none;
    color: black;
}


.go-top-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    width: 100%;
    align-items: center;
    gap: 2px;
    color: var(--border-color);

}

.go-top-btn hr {
    flex-grow: 1;
    height: 1px;
    border: none;
    background-color: var(--border-color)
}

.go-top-btn>button {
    border: none;


}

.main-posts {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background-color: white;
    border: none;
    border-radius: 10px;
    overflow: hidden;


}

.postinput {
    font-size: large;
    padding-left: 1rem;
    font-weight: 700;
}



.usersectionmain {

    display: flex;
    gap: 10px;
    padding: 10px;
    flex-direction: column;
    padding: 0 0 0 20px;
    justify-self: flex-start;
    margin: 10px 0 ;



}

.userlogosection a {
    text-decoration: none;
    color: rgb(4, 40, 80);
}


.usermain {
    display: flex;
    padding-top: 1em;
    gap: 1rem;
}

.post-card {
    display: flex;
    justify-content: center;

}



.postcard-img {
    width: 100%;


}

.likebutton {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 254, 254);
    height: 50px;
    align-items: center;
    border-radius: 10px;
}

.userlogo {
    width: 50px;
    margin-bottom: 10px;
}


.btn-content {
    display: flex;
    align-items: center;
    gap: 10px;
    color: gray;
}

.section3-main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    background-color: white;
    border: solid 1px var(--border-color);
    border-radius: 10px;
    padding: 10px;
}

.section3-main-content>h1,
h4 {
    font-size: large;
}

.section3-main-content>h4 {
    color: gray;
}

.section3-inner-content {
    display: flex;
    justify-content: flex-start;
    transition: all 1s;
    flex-direction: column;
    gap: 5px;
    padding: 1px;

}

.vl {
    border-left: 1px solid rgb(196, 196, 196);
    height: 40px;
  }


.section3-inner-content:hover {
    background-color: rgba(207, 204, 204, 0.575);
    cursor: pointer;
}

.main-item {
    font-size: 14px;
    font-weight: 600;
}

.sub-item {
    color: gray;
}


.footer {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    border: solid 1px gray;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.footer-banner {
    display: flex;
    width: 100%;
    height: 100px;
    background-image: url("https://wallpapers.com/images/featured/technology-linkedin-background-dce01jsbpnn0z2ej.webp");
    background-position: center;
    object-fit: cover;
    position: relative;


}



.pic-footer {
    position: absolute;
    width: 100px;
    border: solid 1px white;
    border-radius: 5px;
    top: 550px;
    right: 540px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
   align-items: flex-start;
   padding: 10px;
   gap: 10px;
  
}

.follow-btn{
    text-align: center;
    background-color: white;
    border: solid 1px rgb(9, 110, 150);
    width: 90%;
    height: 30px;
    border-radius: 10px ;
    align-self: center;
    color: rgb(9, 110, 150);
    font-weight: 700;
}

.footer-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
    align-items:center;
   
}

.footer-links >a {
    color: gray;
}

.copywrites{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}